<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FaceBookLoginView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>185AD35B1D0FA06F00ED9EC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185AD36F1D0FA06F00ED9EC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185AD37A1D0FA06F00ED9EC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
